
@{
    ViewData["Title"] = "Nosotros";
}

<br />

<!-- Experience -->
<section class="container">
    <div class="row">
        <!-- texts -->
        <div class="col-12 text-center">
            <h2 class="text-primary text-uppercase h5">¿Quienes somos?</h2>
            <h3 class="text-capitalize">Desarrolladores de NexGen</h3>
            <p class="text-muted">
                El equipo de desarrollo senior de Nexgen, ha sido fundamental en la creación de productos innovadores que han llevado
                a la empresa a la vanguardia de la tecnología. Con más de 7 años de
                experiencia en ASP.NET, han liderado proyectos ambiciosos, demostrando
                su capacidad para fusionar a la perfección el diseño frontend y el desarrollo
                backend. El compromiso de cada uno con la excelencia técnica y su habilidad para resolver
                problemas complejos han contribuido significativamente al éxito continuo de
                Nexgen en la industria de la tecnología.
            </p>
        </div>

        <!-- CARDS -->
        <!-- CARD 1 -->
        <article class="col-4">
            <div class="card">
                <img src="~/img_personas/victor.jpg" alt="Clientes" class="card-img card-img-filter" />
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                </div>
            </div>
        </article>

        <!-- CARD 2 -->
        <article class="col-4">
            <div class="card">
                <img src="~/img_personas/keury.jpg" alt="Clientes" class="card-img card-img-filter" />
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                </div>
            </div>
        </article>

        <!-- CARD 3 -->
        <article class="col-4">
            <div class="card">
                <img src="~/img_personas/erick.jpg" alt="Clientes" class="card-img card-img-filter" />
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                </div>
            </div>
        </article>


