html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    text-align:center;
}

/** imagenes **/
.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


/** Section Experience **/

.card-img-filter {
    filter: brightness(0.5)
}

.card-effect:hover .card {
    clip-path: polygon( 50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50% );
}

.card-effect:hover .card-img-overlay {
    transform: scale(.9);
}

.card-img-overlay {
    transition-duration: 0.6s;
}

.card {
    transition-duration: 0.6s;
    clip-path: polygon( 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0 );
}
